/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
!/public/storage/Avatars
!/public/storage/Bellzi_Assets
!/public/storage/Mail_Assets
!/public/storage/Notification_Icons
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
